# **Harry Potter movie scripts analysis**

This will be my forth attempt joining Maven analytics challenge. 

This script will be used to provide an introduction to data analysis using SQL language, which should be a must-have tool for any data analyst or even any data professional - both for gaining access to data and, more importantly, as a simple tool for advanced data analysis. The logic behind SQL is very similar to any other tool or language used for data analysis (excel, Pandas), and should be very intuitive for those who have previously worked with data.

### About the dataset:

#### <ins>Harry Potter Movie Scripts </ins>

This dataset contains 6 tables in CSV format

1. The **Dialogue** table contains all 7,444 lines of dialogue from the 8 Harry Potter movie scripts, and contains foreign keys that can be matched to a specific chapter, character, and place from the Wizarding World

2. The **Chapters** table contains the 234 chapters from the Harry Potter movie scripts, with fields containing the chapter name and number, and the related movie

3. The **Movies** table contains the 8 movies from the Harry Potter series, with fields containing the movie title, release year, runtime, budget, and box office revenue

4. The **Characters** table contains the 166 characters that had lines of dialogue in the movies, with fields containing the characterâ€™s name, species, patronus, and more!

5. The **Places** table contains 74 locations from the Wizarding World, with fields containing the place name and category (Hogwarts, Hogsmeade, etc.)

6. The **Spells** table contains the 61 spells cast in the movies, with fields containing the incantation, spell name & effect, and the color of the light cast (HINT: Try to search for the incantation in the movie dialogues to join the tables!)

## Add SQL Extension

In [1]:
!pip3 install ipython-sql --quiet
%load_ext sql

## Import libraries

In [2]:
import pandas as pd
import csv
import sqlite3
from pathlib import Path

## Create SQLite database

In [3]:
Path('harrypotter.db').touch()
conn = sqlite3.connect('harrypotter.db')
c = conn.cursor()

## Load CSV files into SQLite database

In [4]:
dialogue = pd.read_csv('Dialogue.csv')
dialogue.to_sql('Dialogue', conn, if_exists='append', index = False)

chapters = pd.read_csv('Chapters.csv')
chapters.to_sql('Chapters', conn, if_exists='append', index = False)

movies = pd.read_csv('Movies.csv')
movies.to_sql('Movies', conn, if_exists='append', index = False)

characters = pd.read_csv('Characters.csv')
characters.to_sql('Characters', conn, if_exists='append', index = False)

places = pd.read_csv('Places.csv')
places.to_sql('Places', conn, if_exists='append', index = False)

characters = pd.read_csv('Characters.csv')
characters.to_sql('Characters', conn, if_exists='append', index = False)

spells = pd.read_csv('Spells.csv')
spells.to_sql('Spells', conn, if_exists='append', index = False)

## Connect to the SQLite database

In [5]:
%sql sqlite:///harrypotter.db

In [6]:
%sql SELECT sql from sqlite_master WHERE type='table';


# tables = pd.read_sql("""SELECT *
#                         FROM sqlite_master
#                         WHERE type='table';""", conn)
# tables

 * sqlite:///harrypotter.db
Done.

[('CREATE TABLE "Dialogue" (\n"DialogueID" INTEGER,\n  "ChapterID" INTEGER,\n  "PlaceID" INTEGER,\n  "CharacterID" INTEGER,\n  "Dialogue" TEXT\n)',),
 ('CREATE TABLE "Chapters" (\n"ChapterID" INTEGER,\n  "ChapterName" TEXT,\n  "MovieID" INTEGER,\n  "MovieChapter" INTEGER\n)',),
 ('CREATE TABLE "Movies" (\n"MovieID" INTEGER,\n  "MovieTitle" TEXT,\n  "ReleaseYear" INTEGER,\n  "Runtime" INTEGER,\n  "Budget" INTEGER,\n  "BoxOffice" INTEGER\n)',),
 ('CREATE TABLE "Characters" (\n"CharacterID" INTEGER,\n  "CharacterName" TEXT,\n  "Species" TEXT,\n  "Gender" TEXT,\n  "House" TEXT,\n  "Patronus" TEXT,\n  "Wand_Wood" TEXT,\n  "Wand_Core" TEXT\n)',),
 ('CREATE TABLE "Places" (\n"PlaceID" INTEGER,\n  "PlaceName" TEXT,\n  "PlaceCategory" TEXT\n)',),
 ('CREATE TABLE "Spells" (\n"SpellID" INTEGER,\n  "Incantation" TEXT,\n  "SpellName" TEXT,\n  "Effect" TEXT,\n  "Light" TEXT\n)',)]

### Overview of each table

In [8]:
%sql SELECT*FROM Dialogue LIMIT 5

 * sqlite:///harrypotter.db
Done.

[(1, 1, 8, 4, 'I should have known that you would be here...Professor McGonagall.'),
 (2, 1, 8, 7, 'Good evening, Professor Dumbledore. Are the rumours true, Albus?'),
 (3, 1, 8, 4, "I'm afraid so, Professor. The good, and the bad."),
 (4, 1, 8, 7, 'And the boy?'),
 (5, 1, 8, 4, 'Hagrid is bringing him.')]

In [9]:
%sql SELECT*FROM Chapters LIMIT 5

 * sqlite:///harrypotter.db
Done.

[(1, 'Doorstep Delivery', 1, 1),
 (2, 'The Vanishing Glass', 1, 2),
 (3, 'Letters from No One', 1, 3),
 (4, 'Keeper of the Keys', 1, 4),
 (5, 'Diagon Alley', 1, 5)]

In [7]:
%sql SELECT*FROM Places LIMIT 5

 * sqlite:///harrypotter.db
Done.

[(1, 'Flourish & Blotts', 'Diagon Alley'),
 (2, 'Gringotts Wizarding Bank', 'Diagon Alley'),
 (3, 'Knockturn Alley', 'Diagon Alley'),
 (4, 'Ollivanders', 'Diagon Alley'),
 (5, 'The Leaky Cauldron', 'Diagon Alley')]

In [10]:
%sql SELECT*FROM Characters LIMIT 5

 * sqlite:///harrypotter.db
Done.

[(1, 'Harry Potter', 'Human', 'Male', 'Gryffindor', 'Stag', 'Holly', 'Phoenix Feather'),
 (2, 'Ron Weasley', 'Human', 'Male', 'Gryffindor', 'Jack Russell Terrier', None, None),
 (3, 'Hermione Granger', 'Human', 'Female', 'Gryffindor', 'Otter', 'Vine', 'Dragon Heartstring'),
 (4, 'Albus Dumbledore', 'Human', 'Male', 'Gryffindor', 'Phoenix', 'Elder', 'Thestral Tail Hair'),
 (5, 'Rubeus Hagrid', 'Half-Human/Half-Giant', 'Male', 'Gryffindor', None, 'Oak', None)]

In [11]:
%sql SELECT*FROM Spells LIMIT 5

 * sqlite:///harrypotter.db
Done.

[(1, 'Accio', 'Summoning Charm', 'Summons an object', None),
 (2, 'Aguamenti', 'Water-Making Spell', 'Conjures water', 'Icy blue'),
 (3, 'Alarte Ascendare', 'Launch an object up into the air', 'Rockets target upward', 'Red'),
 (4, 'Alohomora', 'Unlocking Charm', 'Unlocks target', 'Blue'),
 (5, 'Arania Exumai', 'Spider repelling spell', 'Repels spiders', 'Blue')]

In [12]:
%sql SELECT*FROM Movies

 * sqlite:///harrypotter.db
Done.

[(1, "Harry Potter and the Philosopher's Stone", 2001, 152, 125000000, 1002000000),
 (2, 'Harry Potter and the Chamber of Secrets', 2002, 161, 100000000, 880300000),
 (3, 'Harry Potter and the Prisoner of Azkaban', 2004, 142, 130000000, 796700000),
 (4, 'Harry Potter and the Goblet of Fire', 2005, 157, 150000000, 896400000),
 (5, 'Harry Potter and the Order of the Phoenix', 2007, 138, 150000000, 942000000),
 (6, 'Harry Potter and the Half-Blood Prince', 2009, 153, 250000000, 943200000),
 (7, 'Harry Potter and the Deathly Hallows Part 1', 2010, 146, 200000000, 976900000),
 (8, 'Harry Potter and the Deathly Hallows Part 2', 2011, 130, 250000000, 1342000000)]

### Exploring data

Characters's count broken into gender and Hogwarts house:

In [13]:
%%sql 
SELECT  DISTINCT(House), 
        COUNT (CharacterID) Total,
        COUNT ( CASE 
                WHEN Gender='Male'
                THEN CharacterID END) Male,
        COUNT ( CASE 
                WHEN Gender='Female'
                THEN CharacterID END) Female,
        COUNT ( CASE 
                WHEN Gender NOT IN ('Female','Male')
                THEN CharacterID END) Other
FROM    Characters 
WHERE   House IS NOT NULL
GROUP BY 1
ORDER BY 2 DESC

 * sqlite:///harrypotter.db
Done.

[('Gryffindor', 62, 42, 18, 2),
 ('Slytherin', 40, 28, 12, 0),
 ('Ravenclaw', 24, 12, 12, 0),
 ('Hufflepuff', 16, 8, 8, 0),
 ('Durmstrang Institute', 4, 4, 0, 0),
 ('Beauxbatons Academy of Magic', 4, 0, 4, 0)]

Calculate the profit of each movie

In [14]:
%%sql
SELECT  *,
        (BoxOffice-Budget) AS Profit
FROM    Movies

 * sqlite:///harrypotter.db
Done.

[(1, "Harry Potter and the Philosopher's Stone", 2001, 152, 125000000, 1002000000, 877000000),
 (2, 'Harry Potter and the Chamber of Secrets', 2002, 161, 100000000, 880300000, 780300000),
 (3, 'Harry Potter and the Prisoner of Azkaban', 2004, 142, 130000000, 796700000, 666700000),
 (4, 'Harry Potter and the Goblet of Fire', 2005, 157, 150000000, 896400000, 746400000),
 (5, 'Harry Potter and the Order of the Phoenix', 2007, 138, 150000000, 942000000, 792000000),
 (6, 'Harry Potter and the Half-Blood Prince', 2009, 153, 250000000, 943200000, 693200000),
 (7, 'Harry Potter and the Deathly Hallows Part 1', 2010, 146, 200000000, 976900000, 776900000),
 (8, 'Harry Potter and the Deathly Hallows Part 2', 2011, 130, 250000000, 1342000000, 1092000000)]

Add more descriptions in Dialogue table by joining the information from multiple tables:

In [16]:
%%sql
SELECT  DISTINCT(T1.DialogueID), 
        T5.MovieTitle,
        T3.PlaceName,
        T3.PlaceCategory,
        T2.CharacterName,
        T2.House,
        T1.Dialogue
FROM        Dialogue    T1
LEFT JOIN   Characters  T2
ON          T1.CharacterID = T2.CharacterID
LEFT JOIN   Places      T3
ON          T1.PlaceID = T3.PlaceID
LEFT JOIN   Chapters    T4
ON          T1.ChapterID = T4.ChapterID
LEFT JOIN   Movies      T5
ON          T4.MovieID = T5.MovieID
LIMIT 10

 * sqlite:///harrypotter.db
Done.

[(1, "Harry Potter and the Philosopher's Stone", '4 Privet Drive', 'Dwellings', 'Albus Dumbledore', 'Gryffindor', 'I should have known that you would be here...Professor McGonagall.'),
 (2, "Harry Potter and the Philosopher's Stone", '4 Privet Drive', 'Dwellings', 'Minerva McGonagall', 'Gryffindor', 'Good evening, Professor Dumbledore. Are the rumours true, Albus?'),
 (3, "Harry Potter and the Philosopher's Stone", '4 Privet Drive', 'Dwellings', 'Albus Dumbledore', 'Gryffindor', "I'm afraid so, Professor. The good, and the bad."),
 (4, "Harry Potter and the Philosopher's Stone", '4 Privet Drive', 'Dwellings', 'Minerva McGonagall', 'Gryffindor', 'And the boy?'),
 (5, "Harry Potter and the Philosopher's Stone", '4 Privet Drive', 'Dwellings', 'Albus Dumbledore', 'Gryffindor', 'Hagrid is bringing him.'),
 (6, "Harry Potter and the Philosopher's Stone", '4 Privet Drive', 'Dwellings', 'Minerva McGonagall', 'Gryffindor', 'Do you think it wise to trust Hagrid with something as important as this?'),
 (7, "Harry Potter and the Philosopher's Stone", '4 Privet Drive', 'Dwellings', 'Albus Dumbledore', 'Gryffindor', 'Ah, Professor, I would trust Hagrid with my life.'),
 (8, "Harry Potter and the Philosopher's Stone", '4 Privet Drive', 'Dwellings', 'Rubeus Hagrid', 'Gryffindor', 'Professor Dumbledore, Sir. Professor McGonagall.'),
 (9, "Harry Potter and the Philosopher's Stone", '4 Privet Drive', 'Dwellings', 'Albus Dumbledore', 'Gryffindor', 'No problems, I trust, Hagrid?'),
 (10, "Harry Potter and the Philosopher's Stone", '4 Privet Drive', 'Dwellings', 'Rubeus Hagrid', 'Gryffindor', 'No, sir. Little tyke fell asleep just as we were flying over Bristol. Heh. Try not to wake him. There you go.')]

In [21]:
%%sql
SELECT  DISTINCT (T1.Incantation),
        COUNT(  CASE
                WHEN T2.Dialogue LIKE '%accio%'
                THEN T2.DialgueID END)

FROM        Spells T1
LEFT JOIN   Dialogue T2
WHERE       T1.Incantation = 'Accio'
GROUP BY    1

 * sqlite:///harrypotter.db
(sqlite3.OperationalError) no such column: T2.DialgueID
[SQL: SELECT DISTINCT (T1.Incantation), COUNT(  CASE
                WHEN T2.Dialogue LIKE '%accio%'
                THEN T2.DialgueID END)

FROM        Spells T1
LEFT JOIN   Dialogue T2
WHERE       T1.Incantation = 'Accio'
GROUP BY    1]
(Background on this error at: http://sqlalche.me/e/14/e3q8)